@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  transition: all 0.2s ease-in-out;
}

*{
    font-family: outfit;
    transition: all 0.25s ease;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}
